* {
    box-sizing: border-box;

}

body {
    font-family: Helvetica;
    background-color: #074265;
	color: white;	
}

.column {
    float: left;
    padding: 10px;
	
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
		
}

.row:after {
    content: "";
    display: table;
    clear: both;
	
    
}

div.search_by{
	line-height: 2em;
}

table{
	display: table;
	border-spacing: 20px;
	word-spacing: 3px;
	padding: 10px;
}
