<div class="row">
  <div class="column">
    <img src='../../assets/u80.png' id="back_button" (click)="backButtonClicked()" class="hidden">

    <table>
      <tr class="search1">
        <td><input type="text" name="search_by_name" #search1 placeholder="Wyszukaj drink po nazwie"/></td>
        <td><img (click)="searchByName(search1.value, $event)" id="search_by_name" src="../../assets/u254.png" alt="szukaj"></td>
      </tr>
      <tr class="search2">
        <td><input type="text" name="search_by_components" placeholder="Skomponuj swój drink"/></td>
      </tr>
    </table>
    
    <table class="com search2">
      <tr>
        <td><label for="gin">Gin</label><input id="gin" type="radio" class="filter" name="alcohol"/></td>
        <td><label for="vodka">Wódka</label><input id="vodka" type="radio" class="filter" name="alcohol"/></td>
        <td><label for="whiskey">Whiskey</label><input id="whiskey" type="radio" class="filter" name="alcohol"/></td>
        <td><label for="rum">Rum</label><input id="rum" type="radio" class="filter" name="alcohol"/></td>
        <td><label for="wine">Wino</label><input id="wine" type="radio" class="filter" name="alcohol"/></td>
      </tr>
      <tr>	
        <td><label for="ale">Ale</label><input id="ale" type="radio" class="filter" name="alcohol"/></td>
        <td><label for="beer">Piwo</label><input id="beer" type="radio" class="filter" name="alcohol"/></td>
        <td><label for="amaretto">Amaretto</label><input id="amaretto" type="radio" class="filter" name="alcohol"/></td>
      </tr>
    </table>
    
    <table class="search2">
    <tr>
      <td>
        Wyszukaj po typie koktajlu:<br><br>
        <input type="checkbox" class="filter">Shot<br>
        <input type="checkbox" class="filter">Drink<br>
        <input type="checkbox" class="filter">Koktajl<br>
      </td>
      <td>
        Wyszukaj wszystkie drinki:<br><br>
        <input type="checkbox" class="filter">Alkoholowe<br>
        <input type="checkbox" class="filter">Bezalkoholowe<br><br>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button id="search_custom_button" (click)="searchByFilters()">
          <img id="search_custom" src="../../assets/u254.png">
        </button>
      </td>
    </tr>
    </table>

    <div id="drinks_list">
      <!-- drinks from API are placed here -->
    </div>

  </div>
</div>