* {
    box-sizing: border-box;
}

.column {
    float: left;
    /* padding: 10px; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="text"] {
    color: black;
    width: 30vmax;
    padding-left: 1em;
    line-height: 3em;
}

div.search_by{
	line-height: 2em;
}

img#search_by_name {
    cursor: pointer;
    margin-top: 0.25em;
    height: 2.5em;
} img#search_custom {
    margin-top: 0.25em;
    height: 2.5em;
} #search_custom_button {
    cursor:pointer;
    text-align: center;
    width: 30vmax;
    background-color: white;
}

table {
	display: table;
	border-spacing: 20px;
	word-spacing: 3px;
	padding: 10px;
}
