<div class="row">
  <div class="column middle">
  <table>
  <tr>
  <td><input type="text" name="search_by_name" placeholder="Wyszukaj drink po nazwie" size="70"/></td>
  </tr>
  <tr>
  <td><input type="text" name="search_by_components" placeholder="Skomponuj swój drink" size="70"/></td>
  </tr>
  </table>
  
  
  
  <table class="com">
  <tr>
  <td><input type="checkbox"/>Gin</td>
  <td><input type="checkbox"/>Wódka</td>
  <td><input type="checkbox"/>Whisky</td>
  <td><input type="checkbox"/>Rum</td>
  <td><input type="checkbox"/>Wino</td>
  </tr>
  <tr>	
  <td><input type="checkbox"/>Malibu</td>
  <td><input type="checkbox"/>Tequilla</td>
  <td><input type="checkbox"/>Koniak</td>
  <td><input type="checkbox"/>Burbon</td>
  <td><input type="checkbox"/>Wermut</td>
  </tr>
  </table>
  
  
  
  <table>
  <tr>
    <td>
      Wyszukaj po typie koktajlu:<br><br>
      <input type="checkbox">Shot<br>
      <input type="checkbox">Drink<br>
      <input type="checkbox">Koktajl<br>
    </td>
    <td>
      Wyszukaj wszystkie drinki:<br><br>
      <input type="checkbox">Alkoholowe<br>
      <input type="checkbox">Bezalkoholowe<br><br>
    </td>
  </tr>
  </table>

<button (click)="fetchDrinks()">AJAX</button>

<div id="drinks_list">
  <!-- drinks from API are placed here -->
</div>