<head>
<script>

var x = location.search;
var scope = this;

var HTTPRequest = new XMLHttpRequest();

 HTTPRequest.open('GET', 'https://www.thecocktaildb.com/api/json/v1/1/lookup.php' + x);
 HTTPRequest.onload = function() {
      var drinksArray = JSON.parse(HTTPRequest.responseText);
    };
    HTTPRequest.send();
    getData();
    document.getElementById("name").innerHTML = drinks.strDrink;
</script>
</head>

<div class="row"> <!-- pierwszy rząd /strzałka/nazwa/serce -->

  <div class="column" style="flex: 20%"><!-- strzałka -->

    <input type="image" src="assets/u80.png" style="object-fit: none">

  </div>  

  <div class="column" style="flex: 70%" id="name">

    <p style="text-align:center; color: white;"></p>

  </div>  <!-- nazwa -->

  <div class="column" style="flex: 10%">

      <input type="image" src="assets/u126.png" style="object-fit: none"/>

  </div>  <!-- serce -->

</div>
<br>
<div class="row"> <!-- drugi rząd -->

  <div class="column" style="flex: 30%">
      
    <input type="image" src="assets/u122.png" style="size: 50%"/>

  </div>

  <div class="column" style="flex: 70%">

      <div>
          <select size="2" style="background-color: #094466; width:390px; height:100%">
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik">składnik</option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik">składnik</option>
          </select>
      </div>

  </div>

</div>

<br>

<div class="row"> <!-- trzeci rząd -->

  <div class="column" style="flex: 100%">
      <textarea style="background-color: #094466; width:550px; height: 200px">przepis</textarea>
  </div>

</div>

