<div class='heading1'><p>Informacje o projekcie</p></div>

  <div class="row"> 
      
    <div class="column1"> <!-- kolumna lewa  -->

          <div class='heading2'><p>Autorzy:</p></div>

            <div class='author'> <!-- jedna osoba  -->

              <div class='space'><input type="image" src="assets/u85.png"/></div> 
              <div class='space'><br></div>              
              <div class='space'>Ewa Bąk <br> xxxxxxxxxxx</div> 

            </div>
      
            <div class='author'>

              <div class='space'><input type="image" src="assets/u85.png"/></div>
              <div class='space'><br></div>                    
              <div class='space'>Kamila Chwastowska <br> xxxxxxxxxxx</div>      

            </div>
      
            <div class='author'>

                <div class='space'><input type="image" src="assets/u85.png"/></div>
                <div class='space'><br></div>                    
                <div class='space'>Maciej Dobosz <br> xxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxx xxxxxxx xxxxxxxx xxxxxxxxxxx </div>         
              
            </div>
      
            <div class='author'>

                  <div class='space'><input type="image" src="assets/u85.png"/></div>
                  <div class='space'><br></div>                   
                  <div class='space'>Dominika Smolarek <br> xxxxxxxxxxx</div>    

            </div>
    </div>

    <div class="columnspace"></div> <!-- kolumna będąca przerwą pomiędzy dwoma kolumnami  -->

    <div class="column2"> <!-- kolumna prawa  -->
      
      <div class='author'> 
              <div class='heading2'><p>drink up to</p></div>
      </div>
              <div class='space'>tutaj jakiś oposis dffsfsfsdfdsfsf</div>         

      <div class='author'>
              <div class='heading2'><p>Wykorzystane technologie:</p></div>
      </div>
              <div class='space'>fdfsfsfsfdsfdsfdsf dffsfsfsdfdsfsf</div>    

    </div>
    
  </div> 
  
