<!--
<div>
    <button (click)="loginGoogle()" class="google">Login with Google</button>
    <button routerLink="/email-login" class="email">Email</button>
    <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No Account? <strong>Create one here</strong></a>
  </div>
-->

<!-- <div id='containerBox'>
  <div id='content_wrapper'>
    <div class='gradient_wrapper'>
      <section id='content'> -->
            <div class='heading1'><p>Zaloguj się</p></div>
            <div id="firebaseui-auth-container"></div>
      <!-- </section>
    </div>
  </div>
</div> -->