<nav>
    <img src="assets/logotyp.png" height="45"/>

  <!-- <h1 class='logo'>Drink up!</h1> -->

  <div class='to_left'>
    <p routerLink="homepage">strona główna</p>
    <p routerLink="profile">profil</p>
    <p>ulubione</p>
  </div>
  
  <div class='to_right'>
    <p routerLink="login">zaloguj się</p>
    <p>o projekcie</p>
    <p>[en]</p>
  </div>
</nav>

<div id='container'>
    <div id='logo'></div>

    <div id='content_wrapper'>

        <router-outlet></router-outlet>
        <!-- poniżej <router-outlet> pojawia się to co jest pod podstroną-->
          </div>
         <aside id='ad'></aside>
        </div>
