<nav>
  <img src="assets/logotyp.png" height="45"/>

  <div class='to_left'>
    <p routerLink="homepage">strona główna</p>
    <p routerLink="profile"onclick="location.reload();">profil</p>
    <p routerLink="favourites">ulubione</p>
  </div>
  
  <div class='to_right'>
    <p id="sign-in" routerLink="login"></p>
    <p routerLink="about">o projekcie</p>
    <p>[en]</p>
  </div>
</nav>

<div id='container'>
    <div id='logo'></div>

    <div id='content_wrapper'>
        <div id='containerBox'>
            <div id='content_wrapper'>
              <div class='gradient_wrapper'>
                <section id='content'>
                  <router-outlet></router-outlet>
                </section>
              </div>
            </div>
        </div>
    </div>

  <!-- <aside id='ad'></aside> -->
</div>