<nav>
  <h1 class='logo'>Drink up!</h1>
  <div class='to_left'>
      <p>strona główna</p>
      <p>profil</p>
      <p>ulubione</p>
  </div>
  
  <div class='to_right'>
      <p>zaloguj się</p>
      <p>o projekcie</p>
      <p>[en]</p>
  </div>
</nav>

<div id='container'>
  <div id='logo'></div>
  <div id='content_wrapper'>
      
      <!-- <router-outlet></router-outlet> -->
      
<!--                usunąć szablon -->
      <div class='gradient_wrapper'>
          <section id='content'>W tej sekcji będzie coś<br>na pewno.<br>na pewno.<br>na pewno.<br>na pewno.<br>na pewno.</section>
      </div>
      <div class='center margin'>
          <button class='button_gradient center'><span>ZALOGUJ</span></button>
      </div>
<!--                aż do tego miejsca -->
  </div>
  <aside id='ad'></aside>
</div>