/* GENERAL */
* {
    color: white;
} body {
    font-family: 'Helvetica';
    padding: 0 2%;
    min-height: 98vh;
    background: linear-gradient(to bottom right, #ffcc00, #fb2d84);
}

@media only screen and (max-width: 1364px) {
    body {
        margin: 0;
        padding: 0;
        min-height: 100%;
    }
}

.center {
    text-align: center;
} .margin {
    margin: 2%;
}
/* END OF GENERAL */

/* BUTTON GRADIENT */
.button_gradient {
    /*    background: linear-gradient(to bottom right, #ffcc00, #ffdd22);*/
        background-color: yellow;
        box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.75);
        border-radius: 8px;
        color: white;
        display: inline-block;
        font-weight: bold;
        padding: 1px;
        text-decoration: none;
        cursor: pointer;
    }
    .button_gradient span {
      background: #074265;
      display: block;
      padding: 1em 3em;
      border-radius: 6px;
    }
    /* END OF BUTTON GRADIENT */

/* FONTS */
#containerBox .heading1 {
    font-family: 'Helvetica';
    font-weight:bold;
    font-style:normal;
    font-size:26px;
    text-align:center;
    color: white;
}
#containerBox .heading2 {
    font-family: 'Helvetica';
    font-style:normal;
    font-size:20px;
    text-align:left;
    color: white;
}
#containerBox .heading3 {
    font-family: 'Helvetica';
    font-style:normal;
    font-size:16px;
    color: white;
}