/* GENERAL */
* {
    color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} body {
    font-family: 'Helvetica';
    padding: 0 2%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, #ffcc00, #fb2d84);
}

@media only screen and (max-width: 1364px) {
    body {
        margin: 0;
        padding: 0;
        min-height: 100%;
    }
}

.center {
    text-align: center;
} .margin {
    margin: 2%;
}
/* END OF GENERAL */

/* BUTTON GRADIENT */
.button_gradient {
        background-color: yellow;
        box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.75);
        border-radius: 8px;
        color: white;
        display: inline-block;
        font-weight: bold;
        padding: 1px;
        text-decoration: none;
        cursor: pointer;
    }
    .button_gradient span {
      background: #074265;
      display: block;
      padding: 1em 3em;
      border-radius: 6px;
    }
/* END OF BUTTON GRADIENT */

/* FONTS */
#containerBox .heading1 {
    font-family: 'Helvetica';
    font-weight:bold;
    font-style:normal;
    font-size:26px;
    text-align:center;
    color: white;
}
#containerBox .heading2 {
    font-family: 'Helvetica';
    font-weight:bold;
    font-style:normal;
    font-size:20px;
    text-align:left;
    color: white;
}
#containerBox .heading3 {
    font-family: 'Helvetica';
    font-style:normal;
    font-size:16px;
    color: white;
}

#content {
    height: 500px;
    max-height: 68vh;
    overflow: scroll;
} #content::-webkit-scrollbar { 
    display: none; 
}

/* DRINKS LIST */
#drinks_list .drink {
    display: flex;
    justify-content: space-around;
    height: 180px;
    padding: 1em;
    margin: .5em 0;
    border-radius: 6px;
    box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.75);
    background-color: #053b5a;
    cursor: pointer;
    transition: background .2s;
    clear: both;
} #drinks_list .drink:hover {
    background-color: #094466;
} #drinks_list .drink img {
    width: 180px;
    height: 180px;
    margin-right: 1em;
    object-fit: cover;
} #drinks_list .drink h2 {
    font-weight: normal;
    line-height: 1em;
    font-size: 1em;
}

/* END OF DRINKS LIST */